@mixin respond($breakpoint){
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };
    }
}

:root{


    //font-color-dark
    --text-primary-dark: #364f6b;
    --text-primary-light: rgb(20, 132, 163);

    --text-secondary-dark: #5b7da5;
    --text-secondary-light: #2c4057;

    //accent/font-color
    --accent-primary: #1Ac4f3;
    --accent-primary-light: rgb(151, 215, 233);
    
    --accent-secondary: #eeeeee;
    --accent-secondary-dark: #e1e1e1;

    --background-color: #fff;

}


* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    @include respond(phone){
        font-size: 30%;
    }
    scroll-behavior: smooth;
}

body{
    //font-family: 'Nunito', sans-serif;
    font-family: 'Varela Round', sans-serif;
    scroll-snap-type: y mandatory;
    height: auto;
    width: 100%;
    background-color: var(--background-color);
}

.page{
    width: 100vw;
    padding : 4rem;
}

//media querry manager
/*
    0 - 600 Phone
    600 - 900   Tablet ( Potrait )
    900 - 1200  Tablet ( Landscape )
    1200 - 1800 Normal Styles
    1800 +      Big Desktop
    $breakpoint argument choices :
    1.phone
    2. tab-port
    3. tab-land
    4. big-desktop
    600px : 37.5em
    900px : 56.5em
    1200px : 75em
    1800px : 112.5em 
    Steps for writing Media Queries
    1. Base
    2. Typography
    3. General Layout + Grid
    4. Page specific layout
    5. Components
    @if is sass directive
*/
