.header{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;

    @media screen and (max-width: 1050px){
        flex-direction: column;
    }

    &__card{
        border-radius: 1rem;  
        display: inline-block;
        width: 100%;
        padding: 3rem;

        background-color: var(--accent-primary);
        position: relative;


        //applies to second card
        &:not(:first-child){
            background-color: var(--accent-secondary);
            margin-bottom: auto;
            height: 75%;
        }

        //applies to first card
        &:not(:last-child){
            margin-top: auto;
            height: 75%;
            margin-right: 4rem;

            @media screen and (max-width: 1050px){
                margin-bottom: 4rem;
                margin-right: 0rem;
            }
        }
    }

    &__profile{
        &-title{
            font-size: 10rem;
            margin-top: -12rem;
            display: inline-block;
            width: 100%;
            height: auto;


            color: var(--text-primary-dark);
            @media screen and (min-width: 1232px) {
                font-size: 9rem;
            }

            @media screen and (max-width: 1080px) {
                font-size: 7rem;
            }

            @media screen and (max-width: 375px) {
                font-size: 5rem;
                margin-top: 0rem;
            }
        }

        &-info{
            display: flex;
            flex-direction: column;
            color: var(--text-primary-dark);

            & > * {
                margin-bottom: 2rem;
            }

            &-title{
                font-size: 5rem;
                & span{
                    color: var(--accent-secondary);
                }

                @media screen and (max-width: 1290px) {
                    font-size: 4.7rem;
                }

                @media screen and (max-width: 1230px) {
                    font-size: 4.5rem;
                }

                @media screen and (max-width: 1185px) {
                    font-size: 4.2rem;
                }

                @media screen and (max-width: 1130px) {
                    font-size: 4rem;
                }

                @media screen and (max-width: 1080px) {
                    font-size: 3.8rem;
                }

                @media screen and (max-width: 1045px) {
                    font-size: 3.6rem;
                }

                @media screen and (max-width: 520px) {
                    font-size: 2.3rem;
                }

                @media screen and (max-width: 375px) {
                    font-size: 2rem;
                }
            }

            &-detail{
                font-size: 3rem;
                color: var(--text-secondary-dark);

                @media screen and (max-width: 1290px) {
                    font-size: 2.9rem;
                }

                @media screen and (max-width: 1230px) {
                    font-size: 2.8rem;
                }

                @media screen and (max-width: 1185px) {
                    font-size: 2.7rem;
                }

                @media screen and (max-width: 1130px) {
                    font-size: 2.6rem;
                }

                @media screen and (max-width: 1080px) {
                    font-size: 2.5rem;
                }

                @media screen and (max-width: 1045px) {
                    font-size: 2.4rem;
                }

                @media screen and (max-width: 520px) {
                    font-size: 2rem;
                }

                @media screen and (max-width: 375px) {
                    font-size: 1.8rem;
                }
            }
        }

        &-basic{
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            height: 20%;

            @media screen and (min-width: 1232px) {
                margin-top: 3rem;
            }
            @media screen and (max-width: 1290px){
                margin-top: 3rem;
            }

            @media screen and (max-width: 700px){
                margin-top: 1rem;
            }

            & > *{
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
            }


            &-location{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-icon{
                    height: 5rem;
                    width: 5rem;
                    fill: var(--text-primary-dark);
                    @media screen and (max-width: 1230px) {
                        height: 4rem;
                        width: 4rem;
                    }

                    @media screen and (max-width: 1130px) {
                        height: 3.5rem;
                        width: 3.5rem;
                    }

                    @media screen and (max-width: 1045px) {
                        height: 3rem;
                        width: 3rem;
                    }

                    @media screen and (max-width: 520px) {
                        height: 2.5rem;
                        width: 2.5rem;
                    }

                    @media screen and (max-width: 375px) {
                        height: 2rem;
                        width: 2rem;
                    }

                }
                &-text{
                    font-size: 3.65rem;
                    color: var(--text-primary-dark);
                    margin-left: 1rem;
                    @media screen and (max-width: 1230px) {
                        font-size: 3.3rem;
                    }

                    @media screen and (max-width: 1130px) {
                        font-size: 3rem;
                    }

                    @media screen and (max-width: 1045px) {
                        font-size: 2.8rem;
                    }

                    @media screen and (max-width: 520px) {
                        font-size: 1.8rem;
                    }

                    @media screen and (max-width: 375px) {
                        font-size: 1.5rem;
                    }
                }
            }

            &-education{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-icon{
                    height: 4rem;
                    width: 4rem;
                    fill: var(--text-primary-dark);


                    @media screen and (max-width: 1130px) {
                        height: 3.5rem;
                        width: 3.5rem;
                    }

                    @media screen and (max-width: 1045px) {
                        height: 3rem;
                        width: 3rem;
                    }

                    @media screen and (max-width: 520px) {
                        height: 2.5rem;
                        width: 2.5rem;
                    }

                    @media screen and (max-width: 375px) {
                        height: 2rem;
                        width: 2rem;
                    }
                }

                &-text{
                    font-size: 3.65rem;
                    color: var(--text-primary-dark);
                    margin-left: 1.9rem;

                    @media screen and (max-width: 1230px) {
                        font-size: 3.3rem;
                        margin-left: 1rem;
                    }

                    @media screen and (max-width: 1130px) {
                        font-size: 3rem;
                    }

                    @media screen and (max-width: 1045px) {
                        font-size: 2.8rem;
                    }

                    @media screen and (max-width: 520px) {
                        font-size: 1.8rem;
                    }

                    @media screen and (max-width: 375px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    &__technologies{
        width: 100%;
        display: flex;
        flex-direction: column;

        margin: 4.5rem 0;
        @media screen and (min-width: 1232px) {
            margin: 1rem 0;
        }
        @media screen and (max-width: 1050px) {
            margin: 2rem 0;
        }

        @media screen and (max-width: 520px) {
            margin: 1.5rem 0;
        }

        & > * {
            &:not(:last-child){
                margin-bottom: 3.5rem;
            }
        }

        &-title{
            font-size: 2.5rem;
            color: var(--text-primary-dark);
            text-align: center;
            @media screen and (max-width: 1290px) {
                font-size: 2.4rem;
            }

            @media screen and (max-width: 1230px) {
                font-size: 2.3rem;
            }

            @media screen and (max-width: 1185px) {
                font-size: 2.2rem;
            }

            @media screen and (max-width: 1130px) {
                font-size: 2.1rem;
            }

            @media screen and (max-width: 1090px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 1045px) {
                font-size: 1.86rem;
            }

            @media screen and (max-width: 520px) {
                font-size: 1.4rem;
            }

            @media screen and (max-width: 375px) {
                font-size: 1.2rem;
            }
        }

        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-icon{
                display: flex;
                flex-direction: column;
                align-items: center;
                &-svg{
                    width: 6rem;
                    height: 6rem;
                    @media screen and (max-width: 520px) {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                &-text{
                    margin-top: 2rem;
                    font-size: 2rem;
                    color: var(--text-primary-dark);

                    @media screen and (max-width: 520px) {
                        margin-top: 1.5rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        &-divider{
            display: inline-block;
            width: 100%;
            height: auto;
            border-bottom: .14rem solid var(--text-secondary-dark);
            border-radius: 1rem;
        }
    }

    &__contact{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding: 0 4rem;

        @media screen and (max-width: 620px){
            padding: 0 2rem;
        }

        &-info{
            width: 100%;
            display: flex;
            justify-content: space-between; 
            align-items: center;
            flex-direction: row-reverse;


            @media screen and (min-width: 1232px) {
                margin: 4rem 0;
            }

            @media screen and (max-width: 1050px) {
                margin: 4rem 0;    
            }

            @media screen and (max-width: 620px) {
                margin: 3rem 0;
                flex-direction: column-reverse
            }

            @media screen and (max-width: 520px) {
                margin: 3rem 0;
            }

            @media screen and (max-width: 375px) {
                margin: 2rem 0;
            }
            
            &-mail{
                flex: 0 0 20%;
                @media screen and (max-width: 620px) {
                    margin-top: 3.5rem;
                    flex: 0 0 100%;
                }
                &-link{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--accent-secondary);
                    text-decoration: none;

                    padding: 2rem;
                    border-radius: 1rem;
                    padding: 5px;

                    background-color: var(--accent-primary);

                    transition: background-color ease .4s;

                    &:hover{
                        background-color: var(--text-primary-dark);
                    }

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
                &-icon{
                    height: 2.3rem;
                    width: 2.3rem;
                    fill: var(--accent-secondary);
                    margin-right: 1rem;
                }
                &-text{
                    font-size: 1.5rem;
                    &:link,
                    &:visited{
                        color: var(--accent-secondary);
                        text-decoration: none;
                    }
                }
            }

            &-social{
                flex: 0 0 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media screen and (max-width: 1230px) {
                    margin-right: 2rem;
                }

                @media screen and (max-width: 620px){
                    width: 100%;
                    margin-right: 0rem;
                }
                &-link{
                    @media screen and (max-width: 620px){
                        &:not(:last-child){
                            margin-right: 2rem;
                        }
                    }   
                    &:visited{
                        text-decoration: none;
                    }
                    &:active,
                    &:focus {
                        outline: none;
                    }

                }
                &-icon{
                    fill: var(--text-primary-dark);
                    height: 3rem;
                    width: 3rem;
                    transition: transform ease .2s;
                    &:hover{
                        transform: scale(1.09);
                        fill: var(--text-secondary-light);
                    }
                }
            }
        }
    }

    &__nav{
        font-size: 8rem;
        display: inline-block;
        position: absolute;
        right: .5rem;
        bottom: -5.6rem;

        @media screen and (min-width: 1232px) {
            font-size: 7rem;
        }


        @media screen and (max-width: 1290px) {
            font-size: 7.7rem;
        }

        @media screen and (max-width: 1230px) {
            font-size: 7.5rem;
        }

        @media screen and (max-width: 1185px) {
            font-size: 7.2rem;
        }

        @media screen and (max-width: 1130px) {
            font-size: 6.9rem;
        }

        @media screen and (max-width: 1080px) {
            font-size: 6.3rem;
        }

        @media screen and (max-width: 1050px) {
            font-size: 5.8rem;
            right: .5rem;
            bottom: -5.2rem;
        }

        @media screen and (max-width: 620px) {
            font-size: 4.5rem;
            right: .5rem;
            bottom: -4rem;
        }

        @media screen and (max-width: 520px) {
            font-size: 4.2rem;
            right: .5rem;
            bottom: -3.5rem;
        }

        @media screen and (max-width: 375px) {
            font-size: 3.3rem;
            right: .5rem;
            bottom: -3rem;
        }

        &-link{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &:link,
            &:visited{
                text-decoration: none;
                color: var(--text-primary-dark);
            }

            &:active,
            &:focus {
                outline: none;
            }
        }

        &-icon{
            display: inline-block;
            height: 12rem;
            width: 12rem;
            fill: var(--text-primary-dark);
            animation: infiniteY .9s infinite;

            @media screen and (max-width: 1290px) {
                height: 11.5rem;
                width: 11.5rem;
            }

            @media screen and (max-width: 1230px) {
                height: 11rem;
                width: 11rem;
            }

            @media screen and (max-width: 1185px) {
                height: 10.5rem;
                width: 10.5rem;
            }

            @media screen and (max-width: 1130px) {
                height: 10.5rem;
                width: 10.5rem;
            }

            @media screen and (max-width: 1080px) {
                height: 10rem;
                width: 10rem;
            }

            @media screen and (max-width: 1050px) {
                height: 9.9rem;
                width: 9.9rem;
            }

            @media screen and (max-width: 620px) {
                height: 8rem;
                width: 8rem;
            }

            @media screen and (max-width: 520px) {
                height: 7rem;
                width: 7rem;
            }

            @media screen and (max-width: 375px) {
                height: 6rem;
                width: 6rem;
            }
        }
    }
}