.header{
    height: 100%;
    
    display: flex;
    position: relative;
    justify-content: center;
    
    @include respond(tab-port){
        flex-direction: column;
    }


    &__card{
        border-radius: 1rem;  
        display: inline-block;
        width: 100%;
        padding: 3rem;

        background-color: var(--accent-primary);
        position: relative;

        //applies to second card
        &:nth-child(2){
            background-color: var(--accent-secondary);     
            height: max-content;
        }

        //applies to first card
        &:nth-child(1){
            margin-top: 15rem;
            height: max-content;
            margin-right: 4rem;

            @include respond(tab-land){
                margin-top: 22rem;
            }

            @include respond(tab-port){
                margin-top: 10rem;
                margin-right: 0rem;
                margin-bottom: 4rem;
            }
        }
    }

    &__profile{
        &-title{
            font-size: 9rem;
            margin-top: -11rem;
            color: var(--text-primary-dark);

            @include respond(phone){
                margin-top: -8rem;
                font-size: 10rem !important;
            }

            @include respond(tab-land){
                font-size: 8rem;
                margin-top: -9.5rem;
            }
        }

        &-info{
            display: flex;
            flex-direction: column;
            color: var(--text-primary-dark);

            & > * {
                margin-bottom: 2rem;
                @include respond(phone){
                    margin-bottom: 3rem;
                }
            }

            &-title{
                font-size: 5rem;
                & span{
                    color: var(--accent-secondary);
                }

                @include respond(phone){
                    font-size: 4rem;
                }

                @include respond(tab-land){
                    font-size: 3.5rem;
                }
            }

            &-detail{
                font-size: 3rem;
                color: var(--text-secondary-dark);
                @include respond(tab-land){
                    font-size: 2.5rem;
                }
            }
        }

        &-basic{
            margin-top: 4rem;
            @include respond(phone){
                margin-top: 0rem;
            }

            @include respond(tab-land){
                margin-top: 2rem;
            }

            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            width: 100%;
            height: 20%;

            & > *{
                &:not(:last-child){
                    margin-bottom: 2rem;
                }
            }


            &-location{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-icon{
                    height: 5rem;
                    width: 5rem;
                    fill: var(--text-primary-dark);
                    @include respond(phone){
                        height: 4rem;
                        width: 4rem;
                    }

                    @include respond(tab-land){
                        height: 4rem;
                        width: 4rem;
                    }

                }
                &-text{
                    font-size: 3.65rem;
                    color: var(--text-primary-dark);
                    margin-left: 1rem;
                    @include respond(phone){
                        font-size: 3.2rem;
                    }
                    @include respond(tab-land){
                        font-size: 2.8rem;
                    }
                }
            }

            &-education{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &-icon{
                    height: 4rem;
                    width: 4rem;
                    fill: var(--text-primary-dark);
                    @include respond(phone){
                        height: 4rem;
                        width: 4rem;
                    }
                    @include respond(tab-land){
                        height: 4rem;
                        width: 4rem;
                    }
                }

                &-text{
                    font-size: 3.65rem;
                    color: var(--text-primary-dark);
                    margin-left: 1.9rem;
                    @include respond(phone){
                        font-size: 3.2rem;
                    }
                    @include respond(tab-land){
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }

    &__technologies{
        width: 100%;
        display: flex;
        flex-direction: column;

        margin: 4.5rem 0;
        & > * {
            &:not(:last-child){
                margin-bottom: 3.5rem;
            }
        }
        @include respond(phone){
            margin: 3rem 0;
        }

        @include respond(tab-land){
            margin: 0;
        }

        &-title{
            font-size: 2.5rem;
            color: var(--text-primary-dark);
            text-align: center;
            @include respond(phone){
                font-size: 2rem;
            }
            @include respond(tab-land){
                font-size: 1.8rem;
            }
        }

        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-icon{
                display: flex;
                flex-direction: column;
                align-items: center;
                &-svg{
                    width: 6rem;
                    height: 6rem;
                }

                &-text{
                    margin-top: 2rem;
                    font-size: 2rem;
                    color: var(--text-primary-dark);
                }
            }
        }

        &-divider{
            display: inline-block;
            width: 100%;
            height: auto;
            border-bottom: .14rem solid var(--text-secondary-dark);
            border-radius: 1rem;
        }
    }

    &__contact{
        &-info{
            margin: 4rem 0;
            &-mail{   
                margin-top: 3rem;
                &-link{
                    margin-left: auto;
                    width: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--accent-secondary);
                    text-decoration: none;

                    padding: 2rem;
                    border-radius: 1rem;
                    padding: 5px;

                    background-color: var(--accent-primary);

                    transition: background-color ease .4s;

                    &:hover{
                        background-color: var(--text-primary-dark);
                    }

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }
                &-icon{
                    height: 2.3rem;
                    width: 2.3rem;
                    fill: var(--accent-secondary);
                    margin-right: 1rem;
                }
                &-text{
                    font-size: 1.5rem;
                    &:link,
                    &:visited{
                        color: var(--accent-secondary);
                        text-decoration: none;
                    }
                }
            }

            &-social{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-link{
                    &:visited{
                        text-decoration: none;
                    }
                    &:active,
                    &:focus {
                        outline: none;
                    }

                }
                &-icon{
                    fill: var(--text-primary-dark);
                    height: 3rem;
                    width: 3rem;
                    transition: transform ease .2s;
                    &:hover{
                        transform: scale(1.09);
                        fill: var(--text-secondary-light);
                    }
                }
            }
        }
    }

    &__nav{
        font-size: 8rem;
        display: inline-block;
        position: absolute;
        right: .5rem;
        bottom: -5.6rem;

        @include respond(phone){
            font-size: 7rem;
            right: 0rem;
            bottom: -4.5rem;
        }

        @include respond(tab-land){
            font-size: 6rem;
            right: 0rem;
            bottom: -4.5rem;
        }
        
        &-link{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &:link,
            &:visited{
                text-decoration: none;
                color: var(--text-primary-dark);
            }

            &:active,
            &:focus {
                outline: none;
            }
        }

        &-icon{
            display: inline-block;
            height: 12rem;
            width: 12rem;
            fill: var(--text-primary-dark);
            animation: infiniteY .9s infinite;

            @include respond(phone){
                height: 9rem;
                width: 9rem;
            }

            @include respond(tab-land){
                height: 10rem;
                width: 10rem;
            }
        }
    }
}